/* app css stylesheet */

h2 {
  font-size: 2em;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

img.logo {
  width: 6em;
  height: 6em;
}
div.header {
  text-align: center;
}

.header img {
  float: right;
}
div#headertext {
  margin: auto;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body { font-family: arial; font-size: 1em; }
.liveExample b { font-weight: bold; }
.liveExample p { margin-top: 0.9em; margin-bottom: 0.9em; }
.liveExample select[multiple] { width: 100%; }

table {
  margin: auto;
  padding: 0;
  margin-top: 0.5em;
}

td {
  padding: 0.2em 0.5em 0.2em 0.5em;

}

span, ul, li {
  padding-top: 0;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
}

div {
  margin-top: 1%;
  margin-bottom: 1%;
  margin: auto;
}

div#leftdiv {
  width: 65%;
  float: left;
  border: 1px solid black;
}

div#rightdiv {
  margin-left: 2em;
  width: 30%;
  float: left;
  border: 1px solid black;
}

div.clear {
  clear: both;
}

button#nextDebate {
  margin-top: 3em;
  margin-bottom: 1em;
}
img#nextSpeaker {
  width: 2em;
  height: 1em;
}

div.liveExample {
  width: 95%;
  margin: auto;
  margin-top: 5%;
}

.liveExample {
  margin: auto;
  text-align: center;
}

p#snakkarNoAvsnitt {
  margin-bottom: 4%;
  font-size: 1.4em;
}

ul#talelisteBoks {
  width: 25%;
  margin: 2% auto 5% auto;
}

input#delegatnrText {
  width: 2em;
}

img.arrow {
  width: 1em;
  height: 1em;
}

button {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

div#nesteDiv {
  margin-bottom: 3%;
}

div#lastinn, div#addPersonDiv {
  margin-top: 1em;
  margin-bottom: 2em;
}

span#talelistaErTom {
  font-size: 1.5em;
  margin-bottom: 2em;
}

#view1div h3 {
  font-size: 1.1em;
}

#view2div p{
  padding: 0;
  margin: 0;
}

#view2div h3 {
  font-size: 2.8em;
  padding-bottom: 1em;
  margin: 0;
}

#view2div {
  font-size: 1.4em;
}

#talelistestrong {
  margin-bottom: 4em;
  padding-bottom: 3em;
}

.taletid {
  width: 2.2em;
}